{
  "extends": [
    "@jedwards1211/eslint-config",
    "@jedwards1211/eslint-config-flow",
    "@jedwards1211/eslint-config-react",
    "prettier",
    "prettier/babel",
    "prettier/flowtype"
  ],
  "parser": "@babel/eslint-parser",
  "env": {
    "es2017": true
  }
}
